[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typeguard = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
pipenv = "*"

[requires]
python_version = "3.6"
